
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 4px;
    float: inline-end;
    margin: 10px;
}
#l{
    color: #295753;
    float: inline-start;
    font-size: 10px;
    margin: 10px;
}
#ll{
    padding: 7px;
    float: inline-start;
    font-size: 10px;
    margin: 1px;
}


button {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #3f888163;
    border-radius: 4px;
    background-color: #295753;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #4c817d;
    transition: 1s;
}
